/*CSS to style dummy 'SAVE' button*/

.new-save-btn {
	background-color: #4285F7;
	padding: 8px 15px;
	cursor: pointer;
	width: 82px;
	height: 50%;
	position: relative;	
	border: 1px solid #4285f4;
	border-radius: 2px;
	box-shadow: 1px 1px 1px rgba(25,25,25,0.2);
	transition: all 0.2s ease;	
}

.new-save-btn:hover {
	background-color: #3b78e7;
}


.new-save-btn-txt {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 13px;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}